@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Anatolian+Hieroglyphs&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #FB2056;
    --secondary: #DA1C4B;
    --heading: #191919;
    --text: #404040;
    --bg-color: #F5F5F5;
}


* {
    margin: 0%;
    padding: 0%;
    font-family: "Noto Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text);
}